button {
    background-color: #fff;
    border: 1px solid #000;
    font-family: courier;
    font-size: 20px;
    margin: 15px;
    padding: 5px 10px;
}

div.conway {
    overflow: hidden;
    font-family: courier;
    width: 995px;
    margin-left: auto;
    margin-right: auto;
    height: 576px;
    background-color: #fff;
    font-size: 20px;
}

div.layout {
    margin-top: 60px;
    text-align: center;
}